@model List<RepositoryDesignPattern.EntityLayer.Concrete.Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>                
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
</div>
